<%- include('RegHead') %>
<body class="container">
    <%- include('navbar') %>
    <div class="Content-title">
        <h1><%- locals.contentTitle %></h1>
        <% if (locals.contentSubtitle) { %>
            <p><%- locals.contentSubtitle %></p>
        <% } %>
    </div>
    <main>
        <% if (locals.photos) { %>
            <div class="photos">
                <% locals.photos.forEach(photo => { %>
                    <div class="Content-pic">
                        <div class="Content-img">
                            <img src="<%= photo.src %>" width="<%= photo.width %>" height="<%= photo.height %>">
                        </div>
                        <% if (photo.caption) { %>
                            <p><%- photo.caption %></p>
                        <% } %>
                        <% if (photo.downloadText) { %>
                            <div class="btn-container">
                                <a href="#" class="download-btn"><%= photo.downloadText %></a>
                            </div>
                        <% } %>
                    </div>
                <% }) %>
            </div>
        <% } %>
        <article class="column-1">
            <% locals.sections.forEach(section => { %>
                <section id="<%= section.id %>">
                    <h2><%- section.title %></h2>
                    <ul>
                        <% section.content.forEach(item => { %>
                            <% if (Array.isArray(item)) { %>
                                <li>
                                    <ul>
                                        <% item.forEach(subItem => { %>
                                            <li><%- subItem %></li>
                                        <% }) %>
                                    </ul>
                                </li>
                            <% } else { %>
                                <li><%- item %></li>
                            <% } %>
                        <% }) %>
                    </ul>
                    <% if (section.downloadText) { %>
                        <div class="btn-container">
                            <a href="#" class="download-btn"><%= section.downloadText %></a>
                        </div>
                    <% } %>
                </section>
            <% }) %>
            <% if (locals.downloadText) { %>
                <div class="btn-container">
                    <a href="#" class="download-btn"><%= locals.downloadText %></a>
                </div>
            <% } %>
        </article>
        <%- include('TOC') %>
    </main>
</body>
</html>