<%- include('RegHead') %>
<body class="container">
    <%- include('navbar') %>
    <div class="Content-title">
        <h1><%- locals.contentTitle %></h1>
        <% if (locals.contentSubtitle) { %>
            <p><%- locals.contentSubtitle %></p>
        <% } %>
    </div>
    <main>
        <article class="column-1">
            <section class="topics" id="topics">
                    <% topics.forEach(category => { %>
                        <h1 class="category-title"><%= category.title %></h1>
                        <div class="topics-row">
                        <% category.sections.forEach(section => { %>
                            <% section.links.forEach(link => { %>
                                <div class="topic-card">
                                    <div class="topic-icon">
                                        <i class="<%= link.icon %> fa-3x"></i>
                                    </div>
                                    <div class="topic-content">
                                        <h3><%= link.name %></h3>
                                        <p><%= link.description %></p>
                                    </div>
                                    <a href="<%= url(link.url) %>" class="topic-btn">Learn More</a>
                                </div>
                            <% }) %>
                        <% }) %>
                        </div>
                    <% }) %>
                </div>
            </section>
        </article>
    </main>
    <%- include('footer') %>
</body>
</html>