<%- include('RegHead') %>
<body class="container">
    <%- include('navbar') %>
    <div class="Content-title">
        <h1><%- locals.contentTitle %></h1>
        <% if (locals.contentSubtitle) { %>
            <p><%- locals.contentSubtitle %></p>
        <% } %>
    </div>
    <main>
        <article class="column-1">
            <% topics.forEach(category => { %>
                <h2><%= category.title %></h2>
                <% category.sections.forEach(section => { %>
                    <h3><%= section.title %></h3>
                    <ul>
                        <% section.links.forEach(link => { %>
                            <li><a href="<%= url(link.url) %>"><%= link.name %></a></li>
                        <% }) %>
                    </ul>
                <% }) %>
            <% }) %>
        </article>
    </main>
    <%- include('footer') %>
</body>
</html>